<nav>
  <button routerLink="/dashboard">Dashboard</button>
  <button routerLink="/connections">Connections</button>
  <button routerLink="/rules">Rules</button>
  <button routerLink="/templates">Templates</button>
  <button routerLink="/login">Login</button>
</nav>

<!-- This is where routed components will display -->
<!-- <router-outlet></router-outlet>/ -->


<h2>Authentication Placeholders</h2>
<p>Login feature will be implemented in a later sprint</p>

<hr />

<router-outlet></router-outlet>
